@media (min-width: 1200px) {
    body {
        background-image: url(/static/green-banner.jpg);
        background-repeat: no-repeat;
        background-position: right 120px;
    }
}
h1, h2, h3, h4, h5, h6, h7 {
    color: #515151;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin-bottom: 1em;
}
a {
    color: green;
}
#inner-content {
    font-size: 20px;
    font-family: Baskerville;
    line-height: 1.5em;    
}
.header-static-top {
    position: static;
    margin-bottom: 0;
}
.brand img {
    padding: 5px 0px 10px 0;
}
.navbar-inverse .nav {
    border-left: 2px solid white;
}
.navbar-inverse .nav li > a {
    display: block;
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-right: 2px solid white;
    padding: 0.5em 2em 0 1em;
    min-height: 35px;
    font-family: Verdana, Lucida, Helvetica, Arial, sans-serif;
    font-size: 12px;
}
.navbar-inverse .nav > .active > a,
.navbar-inverse .nav > li > a:hover {
    background-color: #515151 !important;
}
.navbar-inverse .nav > li > a {
    color: #fff;
}
